:root {
    --gutter: 25px;
    --radius: 13px;
    --color-primary: #66ccff; /* 淡蓝色 */
    --color2: #35c9bb; /* 淡绿色 */
    --color3: #ffb900; /* 保持原样 */
    --color4: #33d57a; /* 保持原样 */
    --color5: #00dbff; /* 保持原样 */
    --color6: #1a98ff; /* 保持原样 */
    --color7: #9090ff; /* 保持原样 */
    --color-primary-bg: rgba(102, 204, 255, 0.15); /* 淡蓝色背景 */
    --color2-bg: rgba(53, 201, 187, 0.15); /* 淡绿色背景 */
    --color3-bg: rgba(255,185,0,0.15); /* 保持原样 */
    --color4-bg: rgba(51,213,122,0.15); /* 保持原样 */
    --color5-bg: rgba(0,219,255,0.15); /* 保持原样 */
    --color6-bg: rgba(26,152,255,0.15); /* 保持原样 */
    --color7-bg: rgba(144,144,255,0.15); /* 保持原样 */
    --color-shadow: rgba(161, 177, 204, 0.4); /* 保持原样 */
}
